/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  color: #454A59;
  border-bottom: 1px solid #F1F1F1;
  position: sticky;
  top: 0;
}
nav h1 {
  font-size: 5rem;
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul a {
  text-decoration: none;
  color: #454A59;
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro img {
  border-radius: 8px;
}
@media (max-width:500px) {
  .home .intro img {
    max-height: 15rem;
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width:500px) {
  .home .space-images .blast {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .home .walk {
    flex-direction: column-reverse;
    margin-top: 10px;
    padding: 10px 15px;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width:500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
@media (max-width:500px) {
  .home .walk .walk-text h3 {
    margin-top: 1.5rem;
  }
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283A;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: #F6F6F6;
  border-radius: 8px;
  animation: pulse 5s infinite;
  width: 30%;
}
@media (max-width:500px) {
  .home .walk .walk-text .btn {
    padding: 2rem;
    border-radius: 3px;
  }
}
@keyframes pulse {
  0% {
    background-color: #F6F6F6;
    color: #22283A;
  }
  100% {
    background-color: green;
    color: black;
  }
}
.home .walk .walk-text .btn:hover {
  background-color: #48547a;
  color: #c3c3c3;
}
@media (max-width:500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width:500px) {
  .home .walk .walk-img {
    width: 100%;
    margin-left: 0;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .sign-up {
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
  font-size: 1.8rem;
  line-height: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width:500px) {
  .home .sign-up {
    line-height: 3rem;
  }
}
.home .sign-up h2 {
  padding: 2rem;
}
.home .sign-up div {
  padding: 1.5rem;
}
.home .sign-up div input {
  height: 3rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  min-width: 200px;
}
.home .sign-up div .btn {
  background-color: #81848E;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: #454A59;
  border-radius: 8px;
  animation: pulse 5s infinite;
  line-height: 1rem;
}
@media (max-width:500px) {
  .home .sign-up div .btn {
    padding: 2rem;
    border-radius: 3px;
  }
}
@keyframes pulse {
  0% {
    background-color: #454A59;
    color: #81848E;
  }
  100% {
    background-color: green;
    color: black;
  }
}
.home .sign-up div .btn:hover {
  background-color: #b7b8be;
  color: #181a20;
}
